Assessment 3 - Enrichment Agent.json
{
  "name": "Assessment 3 - Enrichment Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6eb75cc0-ad56-4991-ba39-39caaa78ae6c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AEU9_S3zn9k239b-2PhqBB8YZeOT2VDO4aPj0zWJXpI",
          "mode": "list",
          "cachedResultName": "Enrichment Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AEU9_S3zn9k239b-2PhqBB8YZeOT2VDO4aPj0zWJXpI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AEU9_S3zn9k239b-2PhqBB8YZeOT2VDO4aPj0zWJXpI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fafcec52-5d43-4e4b-b68a-cd32541ca41f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUTgFqqMGGoKkU7n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eac15add-2621-4d5c-b88d-4d4950bcf5aa",
              "name": "run_id",
              "value": "={{Date.now()}}",
              "type": "string"
            },
            {
              "id": "ad35ac00-73de-48b6-b78c-ea58c3b6b087",
              "name": "processed_at",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "2ce392a0-0c73-4ceb-985b-d05de55f2b0a",
              "name": "retry_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "e6908838-32ad-4295-bc87-4e665ed6a293",
              "name": "status",
              "value": "Processing",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "4ec9ef89-fd2d-43c3-9d4e-703b558233af",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "76a9bf99-9968-47df-a423-e5239d37d5a0",
              "leftValue": "={{$json[\"Email\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "966ce37c-aef7-47a7-b57b-0176c8fb0d24",
              "leftValue": "={{$json[\"Name\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "b1505395-fc44-43b0-99e4-771df8359770",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "aPtP69dxp8jhlvbx",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/CHJhnvoBOfCEWDy5/datatables/aPtP69dxp8jhlvbx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "source_key": "Google Sheets",
            "record_key": "={{$json.Email}}",
            "status": "Processing",
            "processed_at": "2026-07-14T00:00:00",
            "retry_count": "={{$json.retry_count}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        880,
        -96
      ],
      "id": "e252ff8f-32f3-482b-81fe-94e6927ac50e",
      "name": "Insert row"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1088,
        -96
      ],
      "id": "90109da3-03fe-4d23-8b98-3b2b9fab3236",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "aPtP69dxp8jhlvbx",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/CHJhnvoBOfCEWDy5/datatables/aPtP69dxp8jhlvbx"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "record_key",
              "keyValue": "={{$json.record_key}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1296,
        112
      ],
      "id": "619d595f-447d-4212-8da9-352ae1320c10",
      "name": "If row exists"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "aPtP69dxp8jhlvbx",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/CHJhnvoBOfCEWDy5/datatables/aPtP69dxp8jhlvbx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "source_key": "Google Sheets",
            "record_key": "={{$json.record_key}}",
            "status": "Duplicate",
            "processed_at": "2026-07-14T00:00:00",
            "retry_count": 0,
            "error_message": "Already Exists"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1616,
        -32
      ],
      "id": "760c016a-ea42-478a-b5f1-4a4b65534d3d",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "aPtP69dxp8jhlvbx",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/CHJhnvoBOfCEWDy5/datatables/aPtP69dxp8jhlvbx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "source_key": "Google Sheets",
            "record_key": "={{$json.record_key}}",
            "status": "Processing",
            "processed_at": "={{$now}}",
            "retry_count": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1616,
        112
      ],
      "id": "1ef6d60a-e63d-4c0a-b664-9ed10b517f5e",
      "name": "Insert row2"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        112
      ],
      "id": "8d8e48b2-d974-49c6-b6f7-a54b8c63f6e9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2112,
        112
      ],
      "id": "c7004340-0fb5-4b95-93b9-f365b961e564",
      "name": "Wait",
      "webhookId": "c542233a-65de-46aa-98cb-7dd3b3ccc44c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0113c5d7-e6db-4605-97d6-53633b4ba87a",
              "name": "name",
              "value": "={{$json.name}}",
              "type": "string"
            },
            {
              "id": "fd53b473-26f1-43bd-8acb-3a9a9a8d0a56",
              "name": "email",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "06466486-6f37-48f6-9fc4-93dea896781d",
              "name": "phone",
              "value": "={{$json.phone}}",
              "type": "string"
            },
            {
              "id": "f1016b27-48ca-4822-8eb1-7ff39306f396",
              "name": "website",
              "value": "={{$json.website}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        112
      ],
      "id": "a7e601b0-0893-4582-a743-26feab3d9f68",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a6010ed7-cae5-4ea8-b333-64666c89d35d",
              "leftValue": "={{$json.email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8be95303-bd22-4866-9a36-a244ca2dc349",
              "leftValue": "={{$json.name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2528,
        112
      ],
      "id": "d4f3a311-6666-47f9-b66c-631d5265f3d2",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AEU9_S3zn9k239b-2PhqBB8YZeOT2VDO4aPj0zWJXpI",
          "mode": "list",
          "cachedResultName": "Enrichment Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AEU9_S3zn9k239b-2PhqBB8YZeOT2VDO4aPj0zWJXpI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1844291370,
          "mode": "list",
          "cachedResultName": "Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AEU9_S3zn9k239b-2PhqBB8YZeOT2VDO4aPj0zWJXpI/edit#gid=1844291370"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.name}}",
            "Email": "={{$json.email}}",
            "Website": "={{$json.website}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Run ID",
              "displayName": "Run ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2816,
        16
      ],
      "id": "e8946ede-f78c-4093-bb49-e046bf6829db",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUTgFqqMGGoKkU7n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "aPtP69dxp8jhlvbx",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/CHJhnvoBOfCEWDy5/datatables/aPtP69dxp8jhlvbx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$node[\"Edit Fields\"].json[\"run_id\"]}}",
            "retry_count": 0,
            "source_key": "Google Sheets",
            "record_key": "={{$json[\"Email\"]}}",
            "status": "Success",
            "processed_at": "2026-07-14T00:00:00"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3024,
        16
      ],
      "id": "964aa537-83ac-484a-89f4-f7eeb0b51bfd",
      "name": "Insert row3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Insert row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "689588d3-38d9-44f1-8c36-1840b438aaa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80d271ce5841226b65974ee140f2fc2d4e1f4f4842ff818331c902efd7d2abdc"
  },
  "nodeGroups": [],
  "id": "fBBU58tuqGFPuDB6",
  "tags": []
}